# This is a basic workflow to help you get started with Actions

name: Upload Pack

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: actionhippie-install-packwiz
      # You may pin to the exact commit or the version.
      # uses: actionhippie/install-packwiz@2e6b4c93583aed0edf00f3e8c6217b515c770a4e
        uses: actionhippie/install-packwiz@v2.0.0

      - uses: SebRollen/toml-action@v1.2.0
        id: pack_name
        with:
          file: 'pack.toml'
          field: 'name'

      - uses: SebRollen/toml-action@v1.2.0
        id: pack_version
        with:
          file: 'pack.toml'
          field: 'version'

      - uses: SebRollen/toml-action@v1.2.0
        id: pack_mc
        with:
          file: 'pack.toml'
          field: 'versions.minecraft'

      # Runs a single command using the runners shell
      - name: Export Modpack
        run: packwiz modrinth export --pack-file $GITHUB_WORKSPACE/pack.toml

      
      - name: Grab repo path
        id: grab_repo
        run: echo "repo_path=${GITHUB_WORKSPACE}" >> $GITHUB_OUTPUT

      - name: Modrinth Releaser
        # You may pin to the exact commit or the version.
        # uses: dsx137/modrinth-releaser@b3fd2ced39e8cac25f7435028a46e60706bd2be6
        uses: dsx137/modrinth-releaser@v1.1.0
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
        with:
          # The Modrinth project ID
          project_id: ${{ vars.PROJECT_ID }}
          # The version number. Ideally will follow semantic versioning
          version_number: ${{ steps.pack_version.outputs.value }}
          # The game versions this mod is compatible with
          game_versions: ${{ steps.pack_mc.outputs.value }}
          # The files to upload
          files: |
            ${{ steps.grab_repo.outputs.repo_path }}/${{ steps.pack_name.outputs.value }} ${{ steps.pack_version.outputs.value }}.mrpack
          # The name of this version. Defaults to version number.
          name: ${{ steps.pack_name.outputs.value }} ${{ steps.pack_version.outputs.value }}
          # The loaders this version is compatible with.
          loaders: fabric

      - name: Delete Modpack
        run: rm "$GITHUB_WORKSPACE/${{ steps.pack_name.outputs.value }} ${{ steps.pack_version.outputs.value }}.mrpack"
